<%- include('partials/header'); %>
<% console.log(picks) %>
<% const teamsArr = ['ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL', 'DEN', 'DET', 'GB', 'HOU', 'IND', 'JAX',
'KC', 'LAC', 'LAR', 'LV', 'MIA', 'MIN', 'NE', 'NO', 'NYG','NYJ', 'PHI', 'PIT', 'SEA', 'SF', 'TB', 'TEN', 'WAS' ] %>
<a href="/api/users/logout" class="btn btn-secondary">Logout</a>
<a href="/api/users/buyBullet" class="btn btn-warning">Buy Bullet</a>
<div class="container">
  <div class="col-md-8 m-auto">
    <ul class="nav justify-content-center mt-5 mb-5">
      <li class="nav-item">
        <a type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Make Your
          Picks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.nfl.com/schedules/" target="_blank">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Message Board</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h3 class="text-center mb-3"><%= user.name %>'s Dashboard</h3>
      <p>There is a total of <%= users.length %> users with a total of <%= bullets %> bullets</p>
      <p>The Date is now
        <b><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %></b>
        and the time is now <b><%= new Date().toLocaleTimeString() %></b></p>
    </div>
  </div>

  <div class="table-responsive mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Week &nbsp;1</th>
          <th scope="col">Week &nbsp;2</th>
          <th scope="col">Week &nbsp;3</th>
          <th scope="col">Week &nbsp;4</th>
          <th scope="col">Week &nbsp;5</th>
          <th scope="col">Week &nbsp;6</th>
          <th scope="col">Week &nbsp;7</th>
          <th scope="col">Week &nbsp;8</th>
          <th scope="col">Week &nbsp;9</th>
          <th scope="col">Week 10</th>
          <th scope="col">Week 11</th>
          <th scope="col">Week 12</th>
          <th scope="col">Week 13</th>
          <th scope="col">Week 14</th>
          <th scope="col">Week 15</th>
          <th scope="col">Week 16</th>
          <th scope="col">Week 17</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user){ %>
          <% for(i=0; i < user.bullets; i++){ %>
            <tr id="<%= `${user.name}-${i}` %>">
              <th><%= `${user.name} (${i})` %></th>
              <% for(let j = 0; j < 17; j++){ %>
                <td><%= picks[`${user.name}-${i}`][j] %></td>
              <% } %>
            </tr>
          <% }; %>
        <% }); %>
      </tbody>
    </table>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Make Your Picks</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
              class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
          <p class="text-danger" style="size: 12px">***Please notice you must make all your picks for all of your bullets at the same time.  If you want to update a certain bullet, please make sure to also replace your picks for your other bullets as they will be changed upon each form submission.  Always check the table after updating to make sure.***</p>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item" >
              <h4 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Week 1
                </button>
              </h4>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form class="mt-3 mb-3" method="POST" action="/api/users/makePicks/1">
                    <% for(i=0; i < user.bullets; i++){ %>
                    <div class="form-group">
                      <label for="<%= `${user.name}-${i}` %>">Make your pick for bullet <%= `${i}` %></label>
                      <select class="form-control" name="<%= `${user.name}-${i}` %>" id="<%= `${user.name}-${i}` %>">
                        <% teamsArr.forEach(team => { %>
                          <option value="<%= team %>"><%= team %></option>
                        <% }) %>
                      </select>
                    </div>
                    <% }; %>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Week 2
                </button>
              </h4>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form class="mt-3 mb-3" method="POST" action="/api/users/makePicks/2">
                    <% for(i=0; i < user.bullets; i++){ %>
                    <div class="form-group">
                      <label for="<%= `${user.name}-${i}` %>">Make your pick for bullet <%= `${i}` %></label>
                      <select class="form-control" name="<%= `${user.name}-${i}` %>" id="<%= `${user.name}-${i}` %>">
                        <% teamsArr.forEach(team => { %>
                          <option value="<%= team %>"><%= team %></option>
                        <% }) %>
                      </select>
                    </div>
                    <% }; %>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </form>
                  <script>
                    const forms = document.querySelectorAll('#exampleModal form');
                    const user = '<%= user.name %>'';

                    forms.forEach((form, formIndex) => {     
                      return;
                                       
                      form.addEventListener('submit', e => {
                        e.preventDefault();
                        
                        let valid = true;
                        
                        form.querySelectorAll('.form-group').forEach((group, index) => {
                          const selection = group.querySelector('select').value;
                          
                          console.log('selection of week', index + 1, selection)

                          document.querySelectorAll(`table tr[id*="${user}"]`).forEach(row => {
                            const cSelection = row.querySelector(`td:nth-child(${index + 1})`).innerHTML
                            
                            console.log('other selection', cSelection);

                            if (cSelection === selection) {
                              valid = false;
                              console.log('invalid', cSelection, selection);
                            }
                          })
                        });
  
                        if (!valid) {
                          e.preventDefault();
                          alert('Invalid data!');
                        }
                      })
                    });
                  </script>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Week 3
                </button>
              </h4>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form class="mt-3 mb-3" method="POST" action="/api/users/makePicks/3">
                    <% for(i=0; i < user.bullets; i++){ %>
                    <div class="form-group">
                      <label for="<%= `${user.name}-${i}` %>">Make your pick for bullet <%= `${i}` %></label>
                      <select class="form-control" name="<%= `${user.name}-${i}` %>" id="<%= `${user.name}-${i}` %>">
                        <% teamsArr.forEach(team => { %>
                          <option value="<%= team %>"><%= team %></option>
                        <% }) %>
                      </select>
                    </div>
                    <% }; %>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>